@import "tailwindcss";

.typing-text {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(20, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}